{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{% for flash in app.flashes('success') %}
    <div class="flash">{{ flash }}</div>
{% endfor %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/jrdev/develop/php/app-linked/src/Controller/MainController.php</code></li>
        <li>Your template at <code>/home/jrdev/develop/php/app-linked/templates/main/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
